# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=skeletonDB
MYSQL_USER=skeleton
MYSQL_PASSWORD=skeletonDBpass

# Timezone
TIMEZONE=Europe/Madrid

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=a4f03b2f9df3e7ab5bcc958513ee69b7
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
#DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
DATABASE_URL=mysql://skeleton:skeletonDBpass@skeleton_mysql:3306/skeletonDB
###< doctrine/doctrine-bundle ###

#RABBITMQ_URL=amqp://guest:guest@localhost:5672
###> php-amqplib/rabbitmq-bundle ###
RABBITMQ_HOST=skeleton_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=skeletonUser
RABBITMQ_PASSWORD=skeletonRabbitPass
RABBITMQ_VHOST='/'
RABBITMQ_SHA_256=w80GrApRd4mlqjRVvivyhPsgGtvuJozcjmHE+RiyBCigdKxm

###< php-amqplib/rabbitmq-bundle ###
